@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: hidden;
  background-color: #091109;
}

.main-content {
  margin-top: 200px;
  flex: 1;
  width: 100%;
  padding: 20px;
  margin-left: 0;
  transition: margin-left 0.3s ease, width 0.3s ease;
  height: 100vh;
}
.main-content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.main-content header .top-bar {
  display: flex;
  align-items: center;
  width: 100%;
}
.main-content header .top-bar .burger {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50px;
  height: 45px;
  transition: transform 0.3s ease;
}
.main-content header .top-bar .burger .bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
  position: relative;
}
.main-content header .top-bar .burger .bar:nth-child(2) {
  margin: 4px 0;
}
.main-content header .top-bar .user-info {
  margin-left: auto;
}
.main-content header .top-bar .user-info p {
  margin: 5px 0;
}
.main-content header .top-bar .actions button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f70833;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  border: 1px solid #f70833;
}
.main-content header .top-bar .actions button:hover {
  background: none;
}
.main-content header .top-bar .actions .sign-up-btn {
  background: none;
}
.main-content header .top-bar .actions .sign-up-btn:hover {
  background: #f70833;
}
.main-content .vip-club {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  transition: all 0.3s ease;
}
.main-content .vip-club .vip-levels {
  transition: all 0.3s ease;
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  justify-content: center;
  background-color: #1e301e;
  color: #fff;
  padding: 20px;
  border-radius: 30px;
}
.main-content .vip-club .vip-levels-item {
  flex: 1 1 calc(15% - 10px);
  text-align: center;
  max-width: calc(18% - 10px);
  padding: 15px;
  flex-wrap: wrap;
}
.main-content .vip-club .vip-levels-item .level-title {
  opacity: 0.5;
  color: #f70833;
  margin-top: 0;
}
.main-content .vip-club .vip-levels .level,
.main-content .vip-club .vip-levels .item,
.main-content .vip-club .vip-levels .cashback {
  transition: all 0.3s ease;
  border: 2px solid #f70833;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: rgba(247, 8, 52, 0.1215686275);
}
.main-content .vip-club .vip-levels .level h3,
.main-content .vip-club .vip-levels .item h3,
.main-content .vip-club .vip-levels .cashback h3 {
  margin: 0 0 10px 0;
}
.main-content .vip-club .vip-levels .level ul,
.main-content .vip-club .vip-levels .item ul,
.main-content .vip-club .vip-levels .cashback ul {
  list-style: none;
  padding: 0;
}
.main-content .vip-club .vip-levels .level ul li,
.main-content .vip-club .vip-levels .item ul li,
.main-content .vip-club .vip-levels .cashback ul li {
  margin: 5px 0;
}
.main-content .vip-club .faq {
  border-radius: 30px;
}
.main-content .vip-club .faq-title {
  margin-bottom: 10px;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.main-content .vip-club .faq .accordion .accordion-item {
  border: 1.5px solid #f70833;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10px;
}
.main-content .vip-club .faq .accordion .accordion-item .accordion-header {
  background-color: #1e301e;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease;
  border-bottom: 2px solid rgba(247, 8, 52, 0.4156862745);
}
.main-content .vip-club .faq .accordion .accordion-item .accordion-header:hover {
  background-color: rgba(247, 8, 52, 0.1215686275);
}
.main-content .vip-club .faq .accordion .accordion-item .accordion-header h3 {
  margin: 0;
  color: #fff;
  font-weight: 700;
}
.main-content .vip-club .faq .accordion .accordion-item .accordion-header .accordion-arrow {
  width: 10px;
  height: 10px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(135deg);
  transition: transform 0.3s ease;
}
.main-content .vip-club .faq .accordion .accordion-item .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 15px;
  background-color: #1e301e;
}
.main-content .vip-club .faq .accordion .accordion-item .accordion-content p {
  margin: 10px 0;
  color: #fff;
  font-weight: 700;
}
.main-content .vip-club .faq .accordion .accordion-item.active .accordion-header .accordion-arrow {
  transform: rotate(315deg);
}
.main-content .vip-club .faq .accordion .accordion-item.active .accordion-content {
  max-height: 100px;
  padding: 15px;
}
.main-content .available-title {
  margin: 0;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.main-content .available-item {
  flex: 1;
}
.main-content .available-item .available-title {
  opacity: 0.5;
  color: #f70833;
  margin-top: 0;
  font-size: 1.17em;
}
.main-content .available .available-items {
  transition: all 0.3s ease;
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: #1e301e;
  color: #fff;
  padding: 20px;
  border-radius: 30px;
}
.main-content .available-item-content {
  text-align: center;
  max-width: 100%;
  padding: 15px;
  transition: all 0.3s ease;
  border: 2px solid #f70833;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: rgba(247, 8, 52, 0.1215686275);
}
.main-content .available-item-content h3 {
  margin: 0 0 10px 0;
}
.main-content .available-item-content ul {
  list-style: none;
  padding: 0;
}
.main-content .available-item-content ul li {
  margin: 5px 0;
}
.main-content .available-item-content .available-title {
  opacity: 0.5;
  color: #f70833;
  margin-top: 0;
}
.main-content .loayalty-title {
  margin: 0;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.main-content .loayalty-item {
  flex: 1;
}
.main-content .loayalty .loayalty-items {
  transition: all 0.3s ease;
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: #1e301e;
  color: #fff;
  padding: 20px;
  border-radius: 30px;
}
.main-content .loayalty-item-content {
  text-align: center;
  max-width: 100%;
  padding: 15px;
  transition: all 0.3s ease;
  border: 2px solid #f70833;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: rgba(247, 8, 52, 0.1215686275);
}
.main-content .loayalty-item-content h3 {
  margin: 0 0 10px 0;
}
.main-content .loayalty-item-content ul {
  list-style: none;
  padding: 0;
}
.main-content .loayalty-item-content ul li {
  margin: 5px 0;
}
.main-content .loayalty-item-content .loayalty-title {
  opacity: 0.5;
  color: #f70833;
  margin-top: 0;
}

.hidden {
  transform: translateX(-100%);
}

.menu-open .sidebar {
  transform: translateX(0);
}

.menu-open .main-content {
  margin-left: 250px;
  width: calc(100% - 250px);
}

.menu-open .burger .bar:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.menu-open .burger .bar:nth-child(2) {
  opacity: 0;
}

.menu-open .burger .bar:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

@media (max-width: 1024px) {
  .main-content .vip-club .vip-levels {
    gap: 15px;
    padding: 10px;
  }
  .main-content .vip-club .vip-levels-item {
    flex: 1 1 calc(50% - 10px);
    text-align: center;
    max-width: calc(30% - 10px);
    padding: 0;
  }
  .main-content .loayalty-item-content {
    height: 80%;
  }
}
@media (max-width: 768px) {
  .main-content .vip-club .vip-levels {
    gap: 10px;
    padding: 10px;
  }
  .main-content .vip-club .vip-levels-item {
    flex: 1 1 calc(80% - 10px);
    text-align: center;
    max-width: calc(50% - 10px);
    padding: 0;
  }
  .main-content .vip-club .vip-levels-item li {
    font-size: 12px;
  }
  .main-content .vip-club .vip-levels-item h3 {
    font-size: 15px;
  }
  .main-content .vip-club .faq-title {
    margin-bottom: 10px;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  .main-content .vip-club .faq .accordion .accordion-item .accordion-header {
    background-color: #1e301e;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    border-bottom: 2px solid rgba(247, 8, 52, 0.4156862745);
  }
  .main-content .vip-club .faq .accordion .accordion-item .accordion-header:hover {
    background-color: rgba(247, 8, 52, 0.1215686275);
  }
  .main-content .vip-club .faq .accordion .accordion-item .accordion-header h3 {
    font-size: 15px;
    margin: 0;
    color: #fff;
    font-weight: 700;
  }
  .main-content .vip-club .faq .accordion .accordion-item .accordion-header .accordion-arrow {
    width: 10px;
    height: 10px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(135deg);
    transition: transform 0.3s ease;
  }
  .main-content .vip-club .faq .accordion .accordion-item .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 10px;
    background-color: #1e301e;
  }
  .main-content .vip-club .faq .accordion .accordion-item .accordion-content p {
    margin: 0;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
  }
  .main-content .vip-club .faq .accordion .accordion-item.active .accordion-header .accordion-arrow {
    transform: rotate(315deg);
  }
  .main-content .vip-club .faq .accordion .accordion-item.active .accordion-content {
    max-height: 100px;
    padding: 15px;
  }
  .main-content .vip-club .available-title {
    font-size: 18px;
  }
  .main-content .vip-club .available-item {
    flex: 1 1 48%;
  }
  .main-content .vip-club .available-item .available-title {
    padding-bottom: 5px;
    font-size: 15px;
  }
  .main-content .vip-club .available .available-items {
    gap: 10px;
    padding: 10px;
  }
  .main-content .vip-club .available-item-content {
    max-width: 100%;
    padding: 15px;
    padding: 10px;
    margin-bottom: 0;
  }
  .main-content .vip-club .available-item-content h3 {
    margin: 0 0 10px 0;
    font-size: 14px;
  }
  .main-content .vip-club .available-item-content ul {
    list-style: none;
    padding: 0;
  }
  .main-content .vip-club .available-item-content ul li {
    margin: 5px 0;
    font-size: 14px;
  }
  .main-content .vip-club .loayalty-title {
    font-size: 18px;
  }
  .main-content .vip-club .loayalty-item {
    flex: 1 1 100%;
  }
  .main-content .vip-club .loayalty-item .loayalty-title {
    padding-bottom: 5px;
    font-size: 15px;
  }
  .main-content .vip-club .loayalty .loayalty-items {
    gap: 10px;
    padding: 10px;
  }
  .main-content .vip-club .loayalty-item-content {
    max-width: 100%;
    padding: 15px;
    padding: 10px;
    margin-bottom: 0;
  }
  .main-content .vip-club .loayalty-item-content h3 {
    margin: 0 0 10px 0;
    font-size: 14px;
  }
  .main-content .vip-club .loayalty-item-content ul {
    list-style: none;
    padding: 0;
  }
  .main-content .vip-club .loayalty-item-content ul li {
    margin: 5px 0;
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */